<img src="http://api.randomuser.me/portraits/men/35.jpg" height="222" width="222" style="width: 222px; height: 222px; display: block; margin: 0 auto;" class="img-circle">
<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <label for="exampleInputEmail1">Entrer le nom de la list</label>
    <%= f.input :name, placeholder: "Nom de la list", label: false, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Entrer la date de l'événement</label>
    <%= f.input :birthday, placeholder: "Date de l'événement", label: false, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image de la personne</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block"></p>
  </div>
  <%= f.button :submit, "Envoyer", class: "btn btn-default" %>
<% end %>